/* Fonts */

/* Roboto 400,500 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
head,
body {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 2vmin;
}

button {
    padding: 0;
}

input,
select,
textarea,
button {
    font-size: inherit;
}
